<div id="page" class="hfeed">
	<header id="branding" role="banner">
		<hgroup>
			<h1 id="site-title"><span><a href="/" title="Pa ecològic d&#39;en Sergi" rel="home">Pa ecològic d'en Sergi</a></span></h1>
			<h2 id="site-description"></h2>
		</hgroup>
		<a href="/"><img src="/images/header-02.jpg" width="1000" height="400" alt=""></a>
	</header>
	<div id="main">
		<div id="primary">
			<div id="content" role="main">
				<article id="post-2" class="post-2 page type-page status-publish hentry">
					<header class="entry-header">
						<h1 class="entry-title">EL AROMA DEL PAN AUTÉNTICO</h1>
					</header>
					<div class="entry-content">
						<p class="h2">El cereal de cultivo ecológico, el agua sin cloro, la sal natural, 
							la masa madre, las manos artesanas y el horno de piedra hacen  que el pan 
							tenga un aroma muy especial y única que nos transporta a los verdaderos hornos artesanos y nos recuerda el pan auténtico.
						</p>
						<ul id="fotos">
							<li><img class="landscape margin" title="" src="/images/landscape-03.jpg" alt=""></li>
							<li><img class="landscape" title="" src="/images/landscape-01.jpg" alt=""></li>
							<li><img class="portrait margin" title="" src="/images/portrait-08.jpg" alt=""></li>
							<li><img class="portrait margin" title="" src="/images/portrait-04.jpg" alt=""></li>
							<li><img class="portrait" title="" src="/images/portrait-05.jpg" alt=""></li>
							<li><img class="landscape margin" title="" src="/images/landscape-02.jpg" alt=""></li>
							<li><img class="landscape" title="" src="/images/landscape-04.jpg" alt=""></li>
							<li><img class="portrait margin" title="" src="/images/portrait-06.jpg" alt=""></li>
							<li><img class="portrait margin" title="" src="/images/portrait-03.jpg" alt=""></li>
							<li><img class="portrait" title="" src="/images/portrait-02.jpg" alt=""></li>
						</ul>
						<div class="div">
							<p><strong>Cereal ecológico:</strong> Utilizamos solo harinas de cultivo ecológico: de trigo, espelta, 
								centeno o trigo persa, blanca o integral. La molienda se realiza a la piedra para mantener todas las cualidades organolépticas que se pierden con otros sistemas de molido.
							</p>
							<p><strong>Agua:</strong> Nos aseguramos que el agua sea natural y sin cloro.</p>
							<p><strong>Sal:</strong> Utilizamos sal marina extraída de parques naturales.</p>
							<p><strong>Masa madre:</strong> Elaboramos y alimentamos cada día la masa madre siempre con harina ecológica.</p>
							<p><strong>Amasado, formado y fermentación:</strong> La alta hidratación en la fase de amasado, el formado manual y el reposo, así como la producción limitada determinan un buen producto artesano.</p>
							<p><strong>Cocción:</strong> La solera de piedra que utilizamos para hornear las piezas transmite la temperatura óptima que permite conseguir un producto natural de miga húmeda.</p>
						</div>
						<div class="div">
							<p><strong>Un pan comercial contiene habitualmente:</strong> 
								harina de trigo, agua, levadura, proteína de trigo, sal, vinagre, dextrosa, harina de soja, grasa vegetal, emulgente, 
								E472e (ésteres de mono y diglicéridos de ácidos grasos con ácido mono o diacetil tartárico), agente E300 para el tratamiento de la harina 
								(ácido ascórbico), calcio propionato, aditivo (para evitar la formación de moho).
							</p>
							<p class="padensergi"><strong>El pan d’en Sergi contiene:</strong> harina de trigo, levadura, sal Y agua. Nada más.</p>
							<p><strong>Repartimos a domicilio en las siguientes poblaciones:</strong> 
								Mataró, Vilassar de Mar, Vilassar de Dalt, Premià de Mar, Premià de Dalt, Cabrera de Mar, Cabrils, Argentona, Llavaneres, 
								Caldes d’Estrac, S. Vicenç de Montalt, Arenys de Mar, Arenys de Munt, Canet de Mar, S. Pol de Mar, Calella, Vallgorguina.</p>
							</div>
							<div class="div">
							<p><strong class="precios">Precios:</strong><span class="group"><b>Coca de pan 1 kilo de trigo blanca o integral:</b> 
								<i>7,00€</i></span><span><b>espelta:</b> <i>8,00€</i></span><span><b>coca dulce 1 kilo de trigo:</b> <i>8,50€</i></span>
								<span class="group"><b>baguette 270 gs. de trigo blanca o integral:</b> <i>1,65€</i></span><span><b>espelta:</b> <i>2,00€</i></span>
								<span class="group"><b>pan de pita 110 gs. de trigo blanca o integral (3 unid.):</b> <i>2,40€</i></span><span><b>espelta:</b> <i>2,90€</i></span>
								<span class="group"><b>base de pizza 290 gs. de trigo blanca o integral (2 unid.):</b> <i>3,90€</i></span><span><b>espelta:</b> <i>4,50€</i></span>
							</p>
							<p><strong class="pedido">Pedido mínimo: 20,00€</strong></p>
							<p><strong class="pedido">Todos los productos se pueden congelar</strong></p>
						</div>
						<nav>
							<span>Castellano</span> | <a href="/">Català</a>
						</nav>
						<figure><img src="/images/Interdependencia.png" alt=""></figure>
					</div>
					<footer class="entry-meta">
					</footer>
				</article>
			</div>
		</div>
	</div>
	<footer id="colophon" role="contentinfo">
		<span id="tel"><span>Tlf.(m): 655 899 368</span></span>
		<span id="facebook"><a href="https://www.facebook.com/CocasPanEcologico" target="_blank">Facebook</a></span>
		<span id="mail"><a href="mailto:garciagraupera@gmail.com" target="_blank">garciagraupera@gmail.com</a></span>
	</footer>
</div>