<div id="page" class="hfeed">
	<header id="branding" role="banner">
		<hgroup>
			<h1 id="site-title"><span><a href="/" title="Pa ecològic d&#39;en Sergi" rel="home">Pa ecològic d'en Sergi</a></span></h1>
			<h2 id="site-description"></h2>
		</hgroup>
		<a href="/"><img src="https://dl.dropboxusercontent.com/u/4343272/fotos/header-02.jpg" width="1000" height="400" alt=""></a>
	</header>
	<div id="main">
		<div id="primary">
			<div id="content" role="main">
				<article id="post-2" class="post-2 page type-page status-publish hentry">
					<header class="entry-header">
						<h1 class="entry-title">L’OLOR DEL PA AUTÈNTIC</h1>
					</header>
					<div class="entry-content">
						<p class="h2">El cereal de conreu ecològic, l’aigua sense clor, la sal natural, 
							la massa mare, les mans artesanes i el forn de pedra fan que el pa tingui una aroma 
							molt especial i única que ens transporta als veritables forns artesans i ens recorda el pa autèntic.
						</p>
						<ul id="fotos">
							<li><img class="landscape margin" title="" src="https://dl.dropboxusercontent.com/u/4343272/fotos/landscape-03.jpg" alt=""></li>
							<li><img class="landscape" title="" src="https://dl.dropboxusercontent.com/u/4343272/fotos/landscape-01.jpg" alt=""></li>
							<li><img class="portrait margin" title="" src="https://dl.dropboxusercontent.com/u/4343272/fotos/portrait-08.jpg" alt=""></li>
							<li><img class="portrait margin" title="" src="https://dl.dropboxusercontent.com/u/4343272/fotos/portrait-04.jpg" alt=""></li>
							<li><img class="portrait" title="" src="https://dl.dropboxusercontent.com/u/4343272/fotos/portrait-05.jpg" alt=""></li>
							<li><img class="landscape margin" title="" src="https://dl.dropboxusercontent.com/u/4343272/fotos/landscape-02.jpg" alt=""></li>
							<li><img class="landscape" title="" src="https://dl.dropboxusercontent.com/u/4343272/fotos/landscape-04.jpg" alt=""></li>
							<li><img class="portrait margin" title="" src="https://dl.dropboxusercontent.com/u/4343272/fotos/portrait-06.jpg" alt=""></li>
							<li><img class="portrait margin" title="" src="https://dl.dropboxusercontent.com/u/4343272/fotos/portrait-03.jpg" alt=""></li>
							<li><img class="portrait" title="" src="https://dl.dropboxusercontent.com/u/4343272/fotos/portrait-02.jpg" alt=""></li>
						</ul>
						<div class="div">
							<p><strong>Cereal ecològic:</strong> 
								Utilitzem sempre farina de conreu ecològic: de blat, espelta, sègol o blat persa, sigui blanca o integral. 
								Es mol a la pedra per poder mantenir totes les qualitat organolèptiques que es perdrien en altres sistemes de moldre.
							</p>
							<p><strong>Aigua:</strong> Ens assegurem que l’aigua sigui natural i no clorada.</p>
							<p><strong>Sal:</strong> Emprem sal marina extreta de parcs naturals.</p>
							<p><strong>Massa mare:</strong> Elaborem i alimentem cada dia la massa mare a partir de farina ecològica.</p>
							<p><strong>Pastat, format i fermentat:</strong> L’alta hidratació en la fase de pastat, el format manual i el repòs així com la producció limitada determinen un bon producte artesà.</p>
							<p><strong>Cocció:</strong> La solera de pedra que utilitzem per coure les peces transmet la temperatura òptima que permet aconseguir i mantenir un producte natural de molla humida.</p>
						</div>
						<div class="div">
							<p><strong>El pa comercial habitualment conté:</strong> farina de blat, aigua, llevat, sal, proteïna de blat, vinagre, dextrosa, 
								farina de soja, greix vegetal, emulgent E472e (èsters de mono i diglicèrids d’àcids grassos amb àcid mono o diacetil tartàric), 
								E300 (àcid ascòrbic), calci propionat, additiu, (per evitar la formació de floridura).
							</p>
							<p class="padensergi"><strong>El pa d’en Sergi contè:</strong> farina de blat, aigua, llevat i sal. Res més.</p>
							<p><strong> Portem a domicili a aquestes poblacions:</strong> Mataró, Vilassar de Mar, Vilassar de Dalt, Premià de Mar, Premià de Dalt, 
								Cabrera de Mar, Cabrils, Argentona, Llavaneres, Caldes d’Estrac, S. Vicenç de Montalt, Arenys de Mar, Arenys de Munt, Canet de Mar, S. Pol de Mar, Calella, Vallgorguina.
							</p>
						</div>
						<div class="div">
							<p><strong class="precios">Preus:</strong><span class="group"><strong>Coca de pa 1 quilo de blat blanca o integral:</strong> 
								<em>7,00€</em></span><span><strong>espelta:</strong> <em>8,00€</em></span><span><strong>coca dolça 1 quilo de blat:</strong> 
								<em>8,50€</em></span><span class="group"><strong>baguet 270 gs. de blat blanca o integral:</strong> <em>1,65€</em></span>
								<span><strong>espelta:</strong> <em>2,00€</em></span><span class="group"><strong>pa de pita 110 gs. de blat blanca o integral (3 unid.):</strong> 
								<em>2,40€</em></span><span><strong>espelta:</strong> <em>2,90€</em></span><span class="group"><strong>base de pizza 290 gs. 
								de blat blanca o integral (2 unid.):</strong> <em>3,90€</em></span><span><strong>espelta:</strong> <em>4,50€</em></span>
							</p>
							<p><strong class="pedido">Comanda mínima: 20,00€</strong></p>
							<p><strong class="pedido">Tots els productes es poden congelar</strong></p>
						</div>
						<nav>
							<a href="/castellano">Castellano</a> | <span>Català</span>
						</nav>
						<figure><img src="https://dl.dropboxusercontent.com/u/4343272/fotos/Interdependencia.png" alt=""></figure>
					</div>
					<footer class="entry-meta">
					</footer>
				</article>
			</div>
		</div>
	</div>
	<footer id="colophon" role="contentinfo">
		<span id="tel"><span>Tlf.(m): 655 899 368</span></span>
		<span id="facebook"><a href="https://www.facebook.com/CocasPanEcologico" target="_blank">Facebook</a></span>
		<span id="mail"><a href="mailto:garciagraupera@gmail.com" target="_blank">garciagraupera@gmail.com</a></span>
	</footer>
</div>