<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Pa ecològic d'en Sergi</title>
		<link rel="stylesheet" type="text/css" media="all" href="style.css">
	</head>
	<body>
  		<%= yield %>
  	</body>
</html>