<h1>
	Projecte per obrir una botiga de pa ecològic i fet en silenci a Vallgorguina
</h1>
<p class="h1">
	He començat una campanya de micromecenatge a <a href="http://verkami.com" target="_blank" >verkami.com</a> fins al 26 de juny. Fes-ho possible amb una aportació des de 20€. T’ho agrairé amb una assortiment del meu pa.
</p>

<div class="verkami">
	<a href="http://verkami.com" target="_blank" >
		<img src="http://d1oude1rmvszc5.cloudfront.net/v2/1a66e1f6b/images/layout/logo.png">
	</a>
</div>

<p>
	<a href="http://www.verkami.com/page/faq#m1" target="_blank" class="verkami">Què és Verkami?</a>
	És una alternativa als models tradicionals de finançament… Un model basat en la complicitat amb el públic i una component militant i de mecenatge.
</p>

<strong>• • •</strong>

<h2>Pa d’en Sergi</h2>

<h3>(<i>Fet en silenci</i>)</h3>
	
<h4><b>Encarrecs:</b> 655 899 368</h4>

<h5><b>Entregues:</b> Carrer l’Església 11, 08471 Vallgorguina</h5>

<div>
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/0.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/1.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/2.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/3.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/4.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/5.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/6.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/7.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/8.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/9.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/10.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/11.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/12.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/13.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/15.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/14.jpg">
	<img src="https://dl.dropboxusercontent.com/u/4343272/padensergi/16.jpg">
</div>

