<h1>
	Projecte per obrir una botiga de pa ecològic i fet en silenci a Vallgorguina
</h1>
<p>
	He començat una campanya de micromecenatge a <a href="http://verkami.com" target="_blank" >Verkami</a> fins al 26 de juny. Fes-ho possible amb una aportació des de 20€. T’ho agrairé amb una assortiment del meu pa.
</p>

<div class="verkami">
	<a href="http://verkami.com" target="_blank" >
		<img src="http://d1oude1rmvszc5.cloudfront.net/v2/1a66e1f6b/images/layout/logo.png">
	</a>
</div>

<p>
	Què és verkami? Som una alternativa als models tradicionals de finançament… Un model basat en la complicitat amb el públic i una component militant i de mecenatge.
</p>
	
<h2>Pa d’en Sergi</h2>

<ul>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39453/std.jpg?1429866310">
	</li>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39457/std.jpg?1429866681">
	</li>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39448/std.jpg?1429866222">
	</li>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39454/std.jpg?1429866315">
	</li>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39449/std.jpg?1429866229">
	</li>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39452/std.jpg?1429866302">
	</li>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39451/std.jpg?1429866255">
	</li>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39455/std.jpg?1429866319">
	</li>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39450/std.jpg?1429866245">
	</li>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39453/std.jpg?1429866310">
	</li>
	<li>
		<img src="https://dg9aaz8jl1ktt.cloudfront.net/the_files/39457/std.jpg?1429866681">
	</li>
</ul>

