<h1>
	Aconseguit!
</h1>
<p class="h1">
	Vull donar les gràcies a totes les persones que han participat en aquest projecte tant per la seva aportació com també per compartir i difondre la campanya. Felicitar-vos a tots per aquesta solidaritat i suport manifest.
</p>

<p>
	En els propers dies, confirmarem las datas d'obertura de la botiga, les entregues de les recompenses i l'agenda dels tallers.
</p>

<div class="verkami">
	<a href="http://www.verkami.com/projects/11456-un-pan-ecologico-sencillo-elaborado-en-pequenas-cantidades-y-en-silencio" target="_blank" >
		<img src="http://d1oude1rmvszc5.cloudfront.net/v2/1a66e1f6b/images/layout/logo.png">
	</a>
</div>

<strong>• • •</strong>

<h2>Pa d’en Sergi</h2>

<h3>(<i>Fet en silenci</i>)</h3>
	
<h4><b>Encàrrecs:</b> 93 757 91 93</h4>

<h5><b>Lliuraments:</b> Carrer l’Església 11, 08471 Vallgorguina</h5>

<div>
	<img src="/images/0.jpg">
	<img src="/images/1.jpg">
	<img src="/images/2.jpg">
	<img src="/images/3.jpg">
	<img src="/images/4.jpg">
	<img src="/images/5.jpg">
	<img src="/images/6.jpg">
	<img src="/images/7.jpg">
	<img src="/images/8.jpg">
	<img src="/images/9.jpg">
	<img src="/images/10.jpg">
	<img src="/images/11.jpg">
	<img src="/images/12.jpg">
	<img src="/images/13.jpg">
	<img src="/images/15.jpg">
	<img src="/images/14.jpg">
	<img src="/images/16.jpg">
</div>

